.gallery {
	text-align: center;
	margin: 0 0 15px;
	font-size: 0;

	.gallery-item {
		display: inline-block;
		width: 100%;
		padding: 10px;
	}

	.thumbnail {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 3px;

		&.active,
		&:focus,
		&:hover {
			border-color: lighten($black, 20%);
		}

		> img {
			width: 100%;
			margin: 0;
		}
	}
}

.gallery-columns-1 {
	.gallery-item {
		width: 100%;
	}
}

.gallery-columns-2 {
	.gallery-item {
		width: 50%;
	}
}

.gallery-columns-3 {
	.gallery-item {
		width: calc(100% / 3);
	}
}

.gallery-columns-4 {
	.gallery-item {
		width: 25%;

		@include media-query(max-sm) {
			width: 50%;
		}
	}
}

.gallery-columns-5 {
	.gallery-item {
		width: 20%;

		@include media-query(max-md) {
			width: 25%;
		}
		@include media-query(max-sm) {
			width: 50%;
		}
	}
}

.gallery-columns-6 {
	.gallery-item {
		width: calc(100% / 6);

		@include media-query(max-md) {
			width: 25%;
		}
		@include media-query(max-sm) {
			width: 50%;
		}
	}
}

.gallery-columns-7 {
	.gallery-item {
		width: calc(100% / 7);

		@include media-query(max-md) {
			width: 25%;
		}
		@include media-query(max-sm) {
			width: 50%;
		}
	}
}

.gallery-columns-8 {
	.gallery-item {
		width: 12.5%;

		@include media-query(max-md) {
			width: 25%;
		}
		@include media-query(max-sm) {
			width: 50%;
		}
	}
}

.gallery-columns-9 {
	.gallery-item {
		width: calc(100% / 9);

		@include media-query(max-md) {
			width: 25%;
		}
		@include media-query(max-sm) {
			width: 50%;
		}
	}
}

.blueimp-gallery {
	> .indicator {
		> li {
			width: 40px;
			height: 30px;
			border-radius: 0;

			@include media-query(min-md) {
				width: 60px;
				height: 45px;
			}
		}
	}
}
