h1,
.h1 {
	font: 700 36px/1.25 $heading-font-stack;
	margin: 0 0 10px;
}

h2,
.h2 {
	font: 700 30px/1.25 $heading-font-stack;
	margin: 0 0 10px;
}

h3,
.h3 {
	font: 700 24px/1.25 $heading-font-stack;
	margin: 0 0 10px;
}

h4,
.h4 {
	font: 700 18px/1.25 $heading-font-stack;
	margin: 0 0 10px;
}

h5,
.h5 {
	font: 700 14px/1.25 $heading-font-stack;
	margin: 0 0 10px;
}

p,
ul,
ol {
	+ h2,
	+ h3 {
		margin-top: 25px;
	}

	+ h4,
	+ h5 {
		margin-top: 20px;
	}
}

p {
	margin: 0 0 10px;
}
