$heading-font-stack: 'Open Sans Condensed', sans-serif;
$body-font-stack: 'Open Sans', sans-serif;
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
